################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Tetris new refactored with test/__pycache__/Block.cpython-313.pyc
